img{
  width:100px;
  height: 60px;
}


.form-style-6{
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 100%;
  margin: 10px auto;
  padding: 16px;
  background: #F7F7F7;
}
.form-style-6 h1{
  background: #43D1AF;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}
